
<section class="box">
    <h4 class="login-centro">LOGIN</h4>
    <div class="row">
        <div class="container">
            <form [formGroup]="loginForm" >
                <div class="input-field col s12">
                  <input formControlName="nome"  id="nome" type="text" class="validate">
                  <label class="active" for="nome">Nome</label>
                </div>
                <div class="input-field col s12">
                    <input formControlName="senha"  id="senha" type="password" class="validate">
                    <label class="active" for="senha">Senha</label>
                </div>
                <div class="centralizar-botao">
                    <a class="waves-effect waves-light btn" (click)="logar()">Entrar</a>
                </div>
            </form>
        </div>
      </div>
</section>